<title>Інструкція з додавання статей в адмін панелі</title>

{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="post-content">
        <div class="article-top">
            <p class="cats-name">IT: <span>Інструкція з додавання статей в адмін панелі</span></p>
            <p class="cats-date">Опубліковано: 12  січня 2022 р.</p>
        </div>
        <div class="add-article-content">
            <h2>Добавление изображений</h2>
            <p>- В панеле редактора выбрать <span>"Зображення"</span></p>
            <img src="{% static 'images/add_images.png' %}" alt="">
            <p>- Перейти на вкладку <span>"Надiслати"</span> -> <span>"Обзор"</span> -> Выбрать нужное изображение для загрузки -> Нажать кнопку <span>"Надiслати на сервер"</span> -> При необходимости изменить параментры -> Нажать <span>"Ок"</span>.</p>
            <p>- В случае, если изображение должно открываться по клику в новой вкладке, перейти на вкладку <span>"Посилання"</span> и в списке <span>"Цiль"</span> выбрать <span>"Нове вiкно"</span>.</p>
            <img src="{% static 'images/add_images_1.png' %}" alt="">
            <p>В редакторе изображение будет прижато к одному из краев, но на сайте изображения будут размещаться <span>по центру страницы</span>.</p>

            <h2>Загрузка файлов</h2>
            <p>- В панеле редактора выбрать <span>"Вставити/Редагувати посилання"</span></p>
            <img src="{% static 'images/add_link.png' %}" alt="">
            <p>- Перейти на вкладку <span>"Надiслати"</span> -> Выбрать нужный файл -> Нажать кнопку <span>"Надiслати на сервер"</span>.</p>
            <p>- По умолчанию загруженный файл будет открываться на чтение в браузере. Если файл необходимо будет скачивать локально, нужно перейти на вкладку <span>Додаткове</span> и установить галочку в поле <span>Завантажити як файл</span>.</p>
            <img src="{% static 'images/file_save.png' %}" alt="">
            <p>- В поле <span>"Вiдображуванний текст"</span> ввести название ссылки, которое будет отображаться на сайте.</p>
            <p>- Поля "Протокол" и "URl" <span>не изменять</span></p>
            <img src="{% static 'images/add_file.png' %}" alt="">

            <h2>Добавление ссылок</h2>
            <p>- В панеле редактора выбрать <span>"Вставити/Редагувати посилання"</span></p>
            <img src="{% static 'images/add_link.png' %}" alt="">
            <p>- В поле <span>"Вiдображуванний текст"</span> ввести название ссылки, которое будет отображаться на сайте.</p>
            <p>- В поле <span>"URL"</span> вставить ссылку. Поле "Протокол" измениться <span>автоматически</span>.</p>
            <img src="{% static 'images/add_link_1.png' %}" alt="">
        </div>
</section>

{% endblock content %}