@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none !important;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* ROOT STYLES COLOR start */
:root {
    --main-blue: #836FB4;
    --main-yellow: #ECCB15;
    --sub-menu: #7b5fb4;
}
/* ROOT STYLES COLOR end */

.clear{
    clear: both;
}

body{
    position: relative;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    font-size: 16px;
}
.wrapper{
    min-height: 100%;
    transition: 0.5s;
}
.header{
    width: 100%;
    height: 70px;
    background: var(--main-blue);
    display: flex;
    align-items: center;
}
/* Логотип Бочка start */
.logo{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.logo .box{
    transform-style: preserve-3d;
    animation: animate 60s linear infinite;
    transition: 0.5s;
    cursor: pointer;
    animation-play-state: running;
}
.logo .box:hover{
    animation-play-state: paused;
}
@keyframes animate{
    0%{
        transform: perspective(1000px) rotateX(0deg) rotate(0deg);
    }
    100%{
        transform: perspective(1000px) rotateX(360deg) rotate(0deg);
    }
}
.logo .box span{
    position: absolute;
    color: #fff;
    font-size: 1.4em; /* смена шрифта */
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 10px;
    background: linear-gradient(90deg, transparent, rgba(0,0,0,0.5), transparent);
    line-height: 1.1em; /* по умолчанию 0.76em */
    transform-style: preserve-3d;
    text-shadow: 0 5px 10px rgba(0,0,0,0.25);
    transform: translate(-50%,-50%) rotateX(calc(var(--i) * 45deg)) translateZ(24px); /* рассчет кол-ва и высоты отступов */
}
.logo .box span i:nth-child(1){
    font-style: initial;
    color: #fff;
}
.logo .box span i:nth-child(2){
    font-style: initial;
    color: #ECCB15FF;
}
/* Логотип Бочка end */

.on-main-page{
    font-size: 1.2em;
    padding: 5px 10px;
    color: #fff;
    transition: 0.5s;
}
.on-main-page:hover{
    border: 2px solid var(--main-yellow);
    border-radius: 20px;
    color: var(--main-yellow);
}

/* Search Form start */
.search{
    position: relative;
    width: 300px;
    height: 40px;
    background: #fff;
    border-radius: 30px;
    transition: 0.5s;
    overflow: hidden;
    margin-left: auto;
    margin-right: 20px;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
}
.search .icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid var(--main-blue);
    border-radius: 50%;
    transform: translate(-4px,-4px);
    transition: 0.3s;
}
.search .icon:hover::before{
    border: 3px solid var(--main-yellow);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: var(--main-blue);
    transform: translate(6px,6px) rotate(315deg);
    transition: 0.3s;
}
.search .icon:hover::after{
    background: var(--main-yellow);
}
.search .input{
    position: relative;
    width: 200px;
    height: 40px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}
.clear-search{
    position: absolute;
    right: 50px !important;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear-search::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}
.clear-search::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}
.clear-search:hover::before{
    background: #2d2d2d;
}
.clear-search:hover::after{
    background: #2d2d2d;
}
/* Search Form end */

/* Vertical Menu start */
.nav{
    position: relative;
    float: left;
    width: 300px;
    background: var(--main-blue);
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    height: 100%;
    font-size: 1em;
}
.menu{
    height: 100%;
}
.menu .list{
    display: flex;
    text-align: center;
    margin-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.menu .list a{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--main-yellow);
    line-height: 60px;
    transition: 0.3s;
    white-space: nowrap;
    cursor: pointer;
}
.menu .list a:hover{
    color: #fff;
}
.menu .list.active{
    background: var(--sub-menu);
}

/* Закругления start */
.menu .list b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: var(--sub-menu);
    display: none;
}
.menu .list b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    border-bottom-right-radius: 20px;
}
.menu .list b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: var(--sub-menu);
    display: none;
}
.menu .list b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    border-top-right-radius: 20px;
}
.menu .list.active b:nth-child(1),
.menu .list.active b:nth-child(2){
    display: block;
}
.menu .list:first-child b:first-child{
    background: var(--main-blue); /* Скрытие под логотипом */
}
/* Закругления end */

/* Submenu start */
.sub-menu{
    position: absolute;
    padding: 15px 20px 20px 20px;
    top: 0;
    left: 100%;
    min-width: 200px;
    z-index: 1;
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    background: var(--sub-menu);
    text-align: left;
    display: none;
    border-top-right-radius: 20px;
}
.sub-menu li{
    display: block;
}
.sub-menu li a, .dep-menu-list{
    display: block !important;
    line-height: 30px !important;
    color: #D2D2D2;

}

.sub-menu.open{
    display: block;
}
/* Submenu end */
/* Vertical Menu end */

/* Main Content start */
.content-home, .present-dep, .post-content{
    height: calc(100vh - 70px);
    padding: 20px;
    overflow: auto;
}
.article-list li.article-item{
    padding: 10px 0 20px 0;
    overflow: hidden;
}
.content-home li.article-item:first-child{
    padding-top: 0px;
    border: none;
}
.article-top{
    box-sizing: border-box;
    overflow: hidden;
    color: #e5e5e5;
    padding: 10px 10px;
    background: var(--main-blue);
    border-radius: 5px;
}
.article-top p:first-child{
    float: left;
    font-size: 1.2em;
}
.article-top p:first-child span{
    color: #fff;
}
.article-top p:last-child{
    float: right;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-top: 5px;
}
.article-content{
    padding: 10px;
    color: #454545;
}
.article-content p{
    font-size: 16px;
    margin-top: 5px;
}
.article-content img{
    display: block;
    margin: 10px auto;
}
.article-content ol, .article-content ul{
    margin-left: 20px;
}
.article-content ul{
    margin: 10px 20px;
}
.article-list li.article-item h2{
    font-size: 1.3em;
    padding: 10px 0;
    color: var(--main-blue);
    font-weight: 600;
}
.article-list li .text-article{
    padding: 0 10px;
}
.article-list li.article-item a.show-art{
    float: right;
    margin-top: 20px;
    color: #fff;
    background: var(--main-blue);
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
}
.article-list li a.show-art:hover{
    color: var(--main-yellow);
}
/* Main Content end*/

/* pages navigation */
.num-pages{
    text-align: center;
	margin: 0 0 30px 0;
}
.num-pages ul li {
	margin: 0 5px;
}
.num-pages a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    line-height: 1em;
    color: var(--main-blue);
    padding: 0px 15px;
    border: 2px solid var(--main-blue);
    border-radius: 5px;
    transition: 0.5s;
}
.num-pages a:hover{
    color: #fff;
    background-color: var(--main-blue);
}

.num-pages .page-num, .page-num-selected {
	display: inline-block;
}
.num-pages .page-num-selected {
    margin: 0 20px;
    font-size: 1.7em;
    color: var(--main-blue);
}

/* Present Department Start */
.present-dep{
    padding-top: 0;
    text-align: center;
}
.present-dep .dep-title{
    display: inline-block;
    font-size: 28px;
    text-align: center;
    color: var(--main-blue);
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
}

/* Swiper Start */
.swiper-button-next, .swiper-button-prev{
    color: #fff;
    transition: 0.3s;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    color: var(--main-blue);
}
.present-dep .swiper{
    width: 100%;
    padding-top: 30px;
    z-index: 0;
}
.present-dep .swiper-wrapper{
    height: 100%;
}

.present-dep .swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 400px;
}
/* Swiper End*/


.present-dep .card-box{
    width: 100%;
    text-align: center;
    color: #000;
    border-radius: 10px;
    background: var(--main-blue);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}
.present-dep .card-box img{
    width: 100%;
    filter: grayscale(0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.present-dep .info-person{
    padding: 20px 10px;
}
.present-dep .card-box .person-name{
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.present-dep .card-box .position{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 22px
}
.present-dep .card-box p{
    font-size: 16px;
    margin-bottom: 0;
    line-height: 25px;
}
.present-dep .card-box a{
    color: #3e165b;
    transition: 0.5s;
}
.present-dep .card-box a:hover{
    color: #000;
    font-size: 1.05em;
}
/* Present Department End */

/* Post Content Start */
.post-content{
    padding-bottom: 50px;
}
.post-content h1{
    font-size: 1.5em;
    padding: 10px 5px;
    color: var(--main-blue);
    font-weight: 600;
}
.post-content img{
    max-width: 100% !important;
    display: block;
    margin: 10px auto;
}
.post-content ol{
    list-style: decimal;
}
.post-content ul li{
    list-style: disc;
}
/* Post Content End */

/* Страница по добавлению статей start */
a.add-article{
    position: absolute;
    margin: 0 20px;
    bottom: 10px;
    text-align: center;
    color: var(--main-yellow);
    transition: 0.3s;
}
a.add-article:hover{
    color: #fff;
}
.add-article-content h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
}
.add-article-content p{
    padding: 10px 0;
    color: #454545;
}
.add-article-content p span{
    font-weight: bold;
}


/* Страница по добавлению статей end */